@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: auto !important; /* Biarkan Lenis yang menangani scroll */
}

/* Sembunyikan Scrollbar untuk semua browser */
::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grainy-bg::before {
  content: "";
  position: fixed;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  pointer-events: none;
  z-index: 9999;
  opacity: 0.05;
  animation: noise 8s steps(10) infinite;
}

@keyframes noise {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

@layer base {
  body {
    @apply bg-primary antialiased;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
}

::selection {
  @apply bg-accent text-black;
}
