@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan agar font lebih bagus dan latar belakang sesuai desain */
@layer base {
  body {
    @apply bg-soft-bg font-sans antialiased;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}