:root {
  --accent-color: 99 102 241;
  --accent-hex: #6366F1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full overflow-hidden;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white dark:bg-zinc-950 font-sans antialiased transition-colors duration-300;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .smooth-scroll {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
}
